/* navbar 1 */

.footer {
    /* display:flex; */
}

.footer-container-1 {
    display: flex;
    border-top: 1px solid #d2d3d7;
    color: #585b63;
}

.footer-container-1 ul li a {
    display: block;
    text-decoration: none;
    left: 0;
    font-size: clamp(0.75rem, 0.71rem + 0.18vw, 0.875rem);
}

.footer-container-1 ul li a:hover {
    text-decoration: underline;
}

.footer-container-1 ul h3 {
    font-size: clamp(1.125rem, 1.09rem + 0.18vw, 1.25rem);
    font-weight: 400;
}

.footer-container-1 ul li {
    text-decoration: none;
    list-style-type: none;
    left: 0;
    margin-top: 20px;
}

.footer-container-1 ul {
    margin-left: 35px;
    margin-right: 250px;
    text-align: left;
    padding: 0;
}

/* navbar 2 */

.footer-container-2 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d2d3d7;
    border-bottom: 1px solid #d2d3d7;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.footer-container-2 ul li a img {
    height: 40px;
    width: 200px;
    vertical-align: middle;
}

.footer-container-2 ul {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px;

}

.footer-container-2 ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 30px;
    margin-top: 12px;
}

.footer-container-2 ul li a {
    color: #585b63;
    font-size: clamp(0.75rem, 0.71rem + 0.18vw, 0.875rem);
    text-decoration: none;
}

.footer-container-2 ul li a:hover {
    text-decoration: underline;
}

.selection-menu{
    width:100%;
    max-width: 30%;
    display: flex;
    align-items: center;
}

.toggle{
    display:inline-flex;
    align-items: center;
    padding:0 2rem;   
    font-size: clamp(0.75rem, 0.71rem + 0.18vw, 0.875rem);
}
.toggle span{
    padding-right: 1rem;
}
.select-language{
    display: inline;
}

#google-image {
    margin-left: 0px;
    padding: 0px;
    margin-top: 0px;
}

/* nav bar 3 */
.footer-container-3 {
    display: flex;
}

.footer-container-3 ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 30px;
}

.footer-container-3 ul {
    margin-top: 40px;
    padding: 0;
}

.footer-container-3 ul li a {
    text-decoration: none;
    font-size: clamp(0.75rem, 0.71rem + 0.18vw, 0.875rem);
}

.footer-container-3 ul li a:hover {
    text-decoration: underline;
}

.footer p {
    margin-top: 40px;
    margin-bottom: 33px;
    margin-right: 715px;
    margin-left: 35px;
    text-align: left;
    line-height: 23px;
    font-size: clamp(0.75rem, 0.71rem + 0.18vw, 0.875rem);
}

.footer p a {
    color: #6001ff;
}